# Default ignored files
# Ignoring 'server_services' because it doesn't have a use for now
/shelf/
/workspace.xml
/.idea
/server/templates/tester.html
/server/server_services.py
/private_resources/conf_res.py
/.env
/orchestrator_docker.egg-info/
